.titulo{
text-align: center;
}
.celdas {
  border: 2px solid rgb(255, 60, 0);
  padding: 8px;
  margin: 2px;
}
.contenedor{
  border: 3px solid rgb(212, 209, 14);
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}